github.json
{
  "updatedAt": "2026-04-06T03:00:54.983Z",
  "createdAt": "2026-04-04T20:49:09.498Z",
  "id": "w5HEHbieJ2S0Lv2k",
  "name": "Salvar GIT",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "http://host.docker.internal:5678/api/v1/workflows/w5HEHbieJ2S0Lv2k",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        112
      ],
      "id": "e70f0193-83e3-4168-83e8-a2d1693b5466",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6ebEs7dhHMqlPUYA",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "guilherme-cborges",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "aprendendo-n8n",
          "mode": "name"
        },
        "filePath": "github.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        496,
        112
      ],
      "id": "a8ec2478-6e92-4c97-be12-76434112703f",
      "name": "Get a file",
      "webhookId": "dd7670c1-31b4-460b-9011-cb2b7f05b5cb",
      "credentials": {
        "githubApi": {
          "id": "koXPYBtIPVu6KAZH",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5cffe922-5e7a-4acf-b834-e0d75add717e",
              "leftValue": "={{ $json.sha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        112
      ],
      "id": "7b01c481-10fa-402e-8828-9403631899aa",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        48,
        112
      ],
      "id": "ac5781af-65eb-4294-920f-b2f34dd58f60",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "guilherme-cborges",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "aprendendo-n8n"
        },
        "filePath": "github.json",
        "fileContent": "={{ JSON.stringify($('HTTP Request').item.json, null, 2) }}",
        "commitMessage": "Criação"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        944,
        208
      ],
      "id": "4856fad8-9fd4-4bf6-9490-f4b9c14fa13e",
      "name": "Create a file",
      "webhookId": "0e92e62d-ec40-4fda-b0b8-f18496609ad8",
      "credentials": {
        "githubApi": {
          "id": "koXPYBtIPVu6KAZH",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "guilherme-cborges",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "aprendendo-n8n",
          "mode": "name"
        },
        "filePath": "github.json",
        "fileContent": "={{ JSON.stringify($('HTTP Request').item.json, null, 2) }}",
        "commitMessage": "Atualização"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        944,
        16
      ],
      "id": "2a62ad46-711d-4528-991c-215a28cf2f30",
      "name": "Edit a file",
      "webhookId": "fba40b04-45be-477b-8c2d-45d0f9a4a470",
      "credentials": {
        "githubApi": {
          "id": "koXPYBtIPVu6KAZH",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e26def21-3c2b-4963-8c13-4e7a8626101a",
  "activeVersionId": "e26def21-3c2b-4963-8c13-4e7a8626101a",
  "versionCounter": 107,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-04T20:49:09.502Z",
      "createdAt": "2026-04-04T20:49:09.502Z",
      "role": "workflow:owner",
      "workflowId": "w5HEHbieJ2S0Lv2k",
      "projectId": "a2R8jQT3DnUxjijX",
      "project": {
        "updatedAt": "2026-04-04T20:48:09.037Z",
        "createdAt": "2026-04-04T20:47:34.818Z",
        "id": "a2R8jQT3DnUxjijX",
        "name": "Guilherme Borges <guilherme_cborges@outlook.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "50a141fb-15ae-4d54-b50f-8c136e56f95f"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-06T03:01:25.000Z",
    "createdAt": "2026-04-06T03:00:54.985Z",
    "versionId": "e26def21-3c2b-4963-8c13-4e7a8626101a",
    "workflowId": "w5HEHbieJ2S0Lv2k",
    "nodes": [
      {
        "parameters": {
          "url": "http://host.docker.internal:5678/api/v1/workflows/w5HEHbieJ2S0Lv2k",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          272,
          112
        ],
        "id": "e70f0193-83e3-4168-83e8-a2d1693b5466",
        "name": "HTTP Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "6ebEs7dhHMqlPUYA",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "guilherme-cborges",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "aprendendo-n8n",
            "mode": "name"
          },
          "filePath": "github.json",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          496,
          112
        ],
        "id": "a8ec2478-6e92-4c97-be12-76434112703f",
        "name": "Get a file",
        "webhookId": "dd7670c1-31b4-460b-9011-cb2b7f05b5cb",
        "credentials": {
          "githubApi": {
            "id": "koXPYBtIPVu6KAZH",
            "name": "GitHub account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "5cffe922-5e7a-4acf-b834-e0d75add717e",
                "leftValue": "={{ $json.sha }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          720,
          112
        ],
        "id": "7b01c481-10fa-402e-8828-9403631899aa",
        "name": "If",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          48,
          112
        ],
        "id": "ac5781af-65eb-4294-920f-b2f34dd58f60",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "guilherme-cborges",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "aprendendo-n8n"
          },
          "filePath": "github.json",
          "fileContent": "={{ JSON.stringify($('HTTP Request').item.json, null, 2) }}",
          "commitMessage": "Criação"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          944,
          208
        ],
        "id": "4856fad8-9fd4-4bf6-9490-f4b9c14fa13e",
        "name": "Create a file",
        "webhookId": "0e92e62d-ec40-4fda-b0b8-f18496609ad8",
        "credentials": {
          "githubApi": {
            "id": "koXPYBtIPVu6KAZH",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "guilherme-cborges",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "aprendendo-n8n",
            "mode": "name"
          },
          "filePath": "github.json",
          "fileContent": "={{ JSON.stringify($('HTTP Request').item.json, null, 2) }}",
          "commitMessage": "Atualização"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          944,
          16
        ],
        "id": "2a62ad46-711d-4528-991c-215a28cf2f30",
        "name": "Edit a file",
        "webhookId": "fba40b04-45be-477b-8c2d-45d0f9a4a470",
        "credentials": {
          "githubApi": {
            "id": "koXPYBtIPVu6KAZH",
            "name": "GitHub account"
          }
        }
      }
    ],
    "connections": {
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Get a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a file": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Edit a file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Guilherme Borges",
    "name": "1.0.0",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-06T03:01:25.441Z",
        "id": 13,
        "workflowId": "w5HEHbieJ2S0Lv2k",
        "versionId": "e26def21-3c2b-4963-8c13-4e7a8626101a",
        "event": "activated",
        "userId": "50a141fb-15ae-4d54-b50f-8c136e56f95f"
      }
    ]
  }
}