n8n.json
{
  "updatedAt": "2026-04-03T04:23:22.061Z",
  "createdAt": "2026-04-03T02:38:25.740Z",
  "id": "gs539MFESzhOvafG",
  "name": "Salvar GIT",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        0
      ],
      "id": "e87c4804-9f24-48f9-ac39-a06919b058d6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:5678/api/v1/workflows/gs539MFESzhOvafG",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -176,
        0
      ],
      "id": "965749d1-12de-4aa6-9e50-551326d19a9d",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qhSH37P3npOXK08C",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "guilherme-cborges",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "aprendendo-n8n",
          "mode": "name"
        },
        "filePath": "n8n.json",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "Atualização"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        416,
        96
      ],
      "id": "ad17918d-1cba-480e-ab40-db86c8f4a119",
      "name": "Create a file",
      "webhookId": "edb14876-cef6-474f-9b70-ae7014818731",
      "credentials": {
        "githubApi": {
          "id": "ri5kyB4KRK1uX2tS",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $json.nodes[2].parameters.owner.value }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.nodes[2].parameters.repository.value }}",
          "mode": "name"
        },
        "filePath": "=n8n.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        16,
        0
      ],
      "id": "47cc72f9-9eb5-4327-83ef-ca3dbec13c71",
      "name": "Get a file",
      "webhookId": "dd7670c1-31b4-460b-9011-cb2b7f05b5cb",
      "credentials": {
        "githubApi": {
          "id": "ri5kyB4KRK1uX2tS",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5cffe922-5e7a-4acf-b834-e0d75add717e",
              "leftValue": "={{ $json.sha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        0
      ],
      "id": "5913cc6c-3947-4d17-b096-a27158ede166",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('HTTP Request').item.json.nodes[2].parameters.owner.value }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('HTTP Request').item.json.nodes[2].parameters.repository.value }}",
          "mode": "name"
        },
        "filePath": "={{ $('HTTP Request').item.json.nodes[2].parameters.filePath }}",
        "fileContent": "={{ JSON.stringify($('HTTP Request').item.json, null, 2) }}",
        "commitMessage": "Atualização"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        416,
        -80
      ],
      "id": "06e35b6e-905e-413a-8ac4-b2764959039c",
      "name": "Edit a file",
      "webhookId": "5312e464-0d56-49a6-81c9-e755bfa453df",
      "credentials": {
        "githubApi": {
          "id": "ri5kyB4KRK1uX2tS",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "385f5de1-c075-4686-a70f-751a31c9cfa6",
  "activeVersionId": null,
  "versionCounter": 105,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-03T02:38:25.754Z",
      "createdAt": "2026-04-03T02:38:25.754Z",
      "role": "workflow:owner",
      "workflowId": "gs539MFESzhOvafG",
      "projectId": "owtyMLMYFrgWsmtw",
      "project": {
        "updatedAt": "2026-04-03T01:12:37.177Z",
        "createdAt": "2026-04-03T01:05:25.743Z",
        "id": "owtyMLMYFrgWsmtw",
        "name": "Guilherme Borges <guilherme_cborges@outlook.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "3231edfe-c057-4bc6-bca0-edcb8db6435b"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}