workflows/n8n.json
{
  "updatedAt": "2026-04-03T03:57:24.688Z",
  "createdAt": "2026-04-03T02:38:25.740Z",
  "id": "gs539MFESzhOvafG",
  "name": "Salvar GIT",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e87c4804-9f24-48f9-ac39-a06919b058d6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:5678/api/v1/workflows/gs539MFESzhOvafG",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        192,
        0
      ],
      "id": "965749d1-12de-4aa6-9e50-551326d19a9d",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qhSH37P3npOXK08C",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "guilherme-cborges",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "aprendendo-n8n",
          "mode": "name"
        },
        "filePath": "workflows/n8n.json",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "Atualização"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        400,
        0
      ],
      "id": "ad17918d-1cba-480e-ab40-db86c8f4a119",
      "name": "Create a file",
      "webhookId": "edb14876-cef6-474f-9b70-ae7014818731",
      "credentials": {
        "githubApi": {
          "id": "ri5kyB4KRK1uX2tS",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9ab157f5-b1cf-444f-ada0-e86e74f27765",
  "activeVersionId": null,
  "versionCounter": 60,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-03T02:38:25.754Z",
      "createdAt": "2026-04-03T02:38:25.754Z",
      "role": "workflow:owner",
      "workflowId": "gs539MFESzhOvafG",
      "projectId": "owtyMLMYFrgWsmtw",
      "project": {
        "updatedAt": "2026-04-03T01:12:37.177Z",
        "createdAt": "2026-04-03T01:05:25.743Z",
        "id": "owtyMLMYFrgWsmtw",
        "name": "Guilherme Borges <guilherme_cborges@outlook.com.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "3231edfe-c057-4bc6-bca0-edcb8db6435b"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}